<!DOCTYPE html>
<html style="overflow: hidden;">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="chrome-extension://hfadalcgppcbffdnichplalnmhjbabbm/css/style.css" type="text/css" />
    <link rel="stylesheet" href="./../css/gmail-page.css" type="text/css" />

</head>

<body style="background: #fff;">
    <!------------------------ 1 slide start ----------------------------->
    <div class="fluvid-popup">
        <img id="close-gmail-popup" src="./images/cancel.png" class="fluvid-popup-close">
        <table width="100%">
            <tr>
                <td width="130">
                    <a href="https://fluvid.com" target="_blank">
                        <img src="./images/fluvid1.png" width="80">
                    </a>
                </td>
                <td>
                    <div class="gm-srhdv">
                        <form action="" method="post">
                            <input class="gm-srhtxt" type="text" placeholder="Search " id="searchVideoGetList" name="" style="display: none;">
                            <img src="./images/close-srh.png" class="rem-srh" id="clearSearchId" style="display: none;">
                        </form>
                    </div>
                </td>
                <td width="50" class="ta-right">
                    <div class="gmuser-pop">
                        <img src="./images/pop-ico.png">
                        <div class="gmuser-pop-dropdown">
                            <div class="gmuser-mnulist">
                                <ul class="gmuser-mnulnk">
                                    <li>
                                        <p id="login-user-data-id"></p>
                                    </li>
                                    <li><a href="https://fluvid.com/how-it-works" target="_blank">Help</a></li>
                                    <li><a href="https://fluvid.com/privacy" target="_blank">Privacy</a></li>
                                    <li><a href="https://fluvid.com/terms" target="_blank">Terms</a></li>
                                    <li><a href="https://fluvid.com/faq" target="_blank">FAQs</a></li>
                                    <li id="logout-user-id" style="display: none;"><a href="javascript:void()">Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </td>
                <td width="5%">&nbsp;</td>
            </tr>
        </table>

        <div id="Gu-Login-Id" style="display: none;">
            <div class="gmail-process ta-center">
                <h2 class="colblu">Welcome to Fluvid</h2>
                <p>Sign-in to record & share videos that's fast and free!</p>
                <center><img src="./images/gmail-process-1.png"></center>
                <button type="button" id="login-gmail-ext-id" class="btn-google"><img src="../template/images/google-icon.png" >&nbsp;&nbsp;Login with Google</button>
                <button type="button" id="login-facebook-ext-id" class="btn-facebook mrl15"><img src="../template/images/facebook-icon.png">&nbsp;&nbsp;Login with Facebook</button>
                <!-- <button type="button" id="login-outlook-ext-id" class="btn-ms mrl15"><img src="../template/images/microsoft-icon.png">&nbsp;&nbsp;Login with Microsoft</button>
                <button type="button" id="login-apple-ext-id" class="btn-apple mrl15"><img src="../template/images/apple-icon.png">&nbsp;&nbsp;Login with Apple</button> -->
            </div>
        </div>
        <!----------------------- 3 slide start ------------------------------>
        <div id="no-video-id" style="display: none;">
            <div class="gmail-process bg-gry ta-center" style="margin-top:15px; height:335px;">
                <center><img src="./images/gmail-process-3.png"> </center>
                <h3 id="noSearchData">No items match your search</h3>
                <h2 class="colblu">Start by recording a new video</h2>
                <p id="noFirstData">All your videos will be available here when you are ready to share</p>
                <br><br>
            </div>
            <div class="ta-center">
                <br>
                <button type="button" class="btn-gml-blu" id="open-extenstion-id3">
                    <img src="./images/video-cam-icon.png" height="13">
                    Record New Video
                </button>
            </div>
        </div>
        <!----------------------- 4 slide start ------------------------------>
        <div id="Video-List-Id" style="display: none;">
            <div class="gmail-process bg-gry ta-center" style="margin-top:15px">
               
                <p style="float:left; color:#6f6f6f; margin-left: 13px;" id="select-data-status-id"></p>

                <p style="float:left; position:relative" class="tooltip-item"> <img src="./images/info-icon1.png" style="vertical-align:middle; margin: 0 0 0 4px;"> <span class="tooltip-hint" style="width:160px; right:-75px; top:-65px; background: rgba(0,0,0,.75);">Privacy of video will remains unchanged upon sharing. You can change the video privacy anytime in Fluvid dashboard.</span></p>


                <div class="ta-right">
                   <span style="position:relative" class="tooltip-item" id="getDataViewId"> 
                        <img class="ref" src="./images/refresh-ico.png">
                        <span class="tooltip-hint" style="width:85px; right:-40px; top:-30px; background: rgba(0,0,0,.75);">
                            Refresh Videos
                        </span>
                    </span>
                    <button type="button" class="btn-gml-blu btn-sml" id="open-extenstion-id4">Record New Video</button>
                </div>
                <div class="gm-scroll-260 gm-square gm-scrollbar gm-thin">
                    <ul class="gm-video-list" id="lsitOf-video-id">
                    </ul>
                </div>
                <div class="ta-right">
                    <p id="message-id" style="float: left; color:green;margin-top: 5px;"></p>
                    <p class="load-more" id="Load-More-id">Load More</p>
                </div>
            </div>
            <div class="ta-center">
               <br>
                          
                <button type="button" class="btn-gml-blu" style="margin-top:10px;" id="insertVideoIntoMail" disabled>
                    Insert Video
                </button>
                

            </div>
        </div>
        <!---------------------- 7 slide start ------------------------------->
        <div id="loading-page-id">
            <!-- <div class="gmail-process bg-gry ta-center" style="margin-top:15px; height:402px;">
                <div class="ta-right">
                    <p class="col-grn">
                        &nbsp;
                    </p>
                </div>
                <center><img src="./images/gmail-process-7.png"></center>
                <p>Something's cooking.</p>
                <h2 class="fs-18">Please Wait...</h2>
                <br><br>
            </div> -->
            <div class="loader-box" style="height:74vh !important; width: 100% !important;">
                <div id="fl-loading-bar-spinner" class="fl-spinner">
                    <div class="fl-spinner-icon"></div>
                </div>
            </div>
        </div>
        <!---------------------- 8 slide start ------------------------------->
        <div id="internet-connected-id" style="display: none;">
            <div class="gmail-process bg-gry ta-center" style="margin-top:15px; height:400px">
                <div class="ta-right">
                    <p class="col-grn">
                        &nbsp;
                    </p>
                </div>
                <br><br>
                <img src="./images/gmail-process-8.png">
                <p>Connection Lost</p>
                <h2>Please connect to the internet and try again</h2>
                <br><br><br>
            </div>
        </div>
    </div>

    <!----------------------------------------------------->


    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/helper.js"></script>
    <script type="text/javascript" src="../js/gmail-search.js"></script>
</body>

</html>