<div class="comcord-outer">
	<div class="comcord-header">
		<div class="comcord-logo"><img src="images/vidlogo-square.png"></div>
	</div>
	<div class="form-div">
		<h1>WELCOME<br><span>Please Signup to continue</span></h1>
		<h2>Join Us With</h2>
		<br>
		<a href="#" class="btn-google" id="vcc-login-btn"><img src="images/google-icon.png"> Google</a>
		<a href="#" class="btn-facebook" id="vcc-login-fb-btn"><img src="images/google-icon.png"> Facebook</a>
		<p>New to Fluvid ? <a href="#" id="vcc-goto-login"><b>Sign Up</b></a></p>
	</div>
</div>