<div class="comcord-outer">
	<div class="comcord-header">
		<div class="comcord-logo"><img src="images/fluvid-logo.png"></div>
	</div>
	<div class="form-div">
		<h1><span id="vcc-main-msg">Sign in to your account</span></h1>
		<br>
		<p style="padding:0 0 10px 0; margin:0"><b>Continue with</b></p>
		<a href="javascript:void(0)" class="btn-google live-modaltooltip" id="vcc-login-btn"><img src="images/google-icon.png"> <span class="tt-hint2" style="top:45px; right:-9px; width:50px;">Google</span></a>
		<a href="javascript:void(0)" class="btn-facebook live-modaltooltip" id="vcc-login-fb-btn"><img src="images/facebook-icon.png"> <span class="tt-hint2" style="top:45px; right:-9px; width:50px;">Facebook</span></a>
		<!-- <a href="javascript:void(0)" class="btn-ms live-modaltooltip" id="vcc-login-outlook-btn"><img src="images/microsoft-icon.png"><span class="tt-hint2" style="top:45px; right:-9px; width:50px;">Microsoft</span></a>
		<a href="javascript:void(0)" class="btn-apple live-modaltooltip" id="vcc-apple-login-btn"><img src="images/apple-icon.png"><span class="tt-hint2" style="top:45px; right:-9px; width:50px;">Apple</span></a> -->
		<div class="div-or"><span>OR</span></div>
		<a href="https://fluvid.com/login" target="_blank" class="btn-email" id="vcc-login-email-btn">
			<img src="images/email.png">
			Sign in with email
		</a>
		<p><span id="vcc-login-sign-msg">Don't have an account? </span> <a href="#" id="vcc-goto-signup" style="font-weight:600;">Sign Up</a></p>
	</div>
</div>