<!DOCTYPE html>
<html lang="en" style="overflow:-moz-scrollbars-vertical; overflow-y:scroll;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fluvid</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/fluvid-style.css" rel="stylesheet">
    <style>
        .modal-lg {
            max-width: 640px;
        }

        .modal {
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlPRsTI6JAAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=) repeat 0 0
        }

        .modal-content {
            border-radius: 0px !important;
        }

        .modal-close {
            position: absolute;
            right: -30px;
            top: 0px;
            cursor: pointer
        }
    </style>
    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-637515708"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-637515708');
        gtag('event', 'conversion', { 'send_to': 'AW-637515708/kRjCCKex_u8BELzv_q8C' });
    </script>
    <!-- End Google Tag Manager-->
</head>

<body style="background:#1b244e">
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TJ4263C" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <section class="text-center">
        <div class="container-3">
            <img class="fluvid-logo" alt="Fluvid logo" src="images/fluvid2.png">
            <div class="row">
                <div class="col-sm-2 text-center"></div>
                <div class="col-sm-8 text-center">
                    <div class="setup-section" id="vcc-step-1">
                        <ul>
                            <li class="active">Step 1.<br>Sign up with Google/Facebook</li>
                            <li>Step 2.<br>Set Permission</li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-6 text-center">
                                <div style="padding: 30px 0px 30px 10px;">
                                    <div class="btn-block">
                                        <img src="images/google-1.png" width="80"><br>
                                        <a href="#" class="btn-google" id="vcc-login-btn">Login with Google</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div style="padding: 30px 0px;">
                                    <div class="btn-block">
                                        <img src="images/facebook-1.png" width="80"><br>
                                        <a href="#" class="btn-facebook" id="vcc-login-fb-btn">Login with Facebook</a>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-sm-3 text-center">
                                <div style="padding: 30px 10px 30px 0px;">
                                    <div class="btn-block">
                                        <img src="images/microsoft-1.png" width="80"><br>
                                        <a href="#" class="btn-ms" id="vcc-login-outlook-btn">Login with Microsoft</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div style="padding: 30px 10px 30px 0px;">
                                    <div class="btn-block">
                                        <img src="images/apple-1.png" width="80"><br>
                                        <a href="#" class="btn-apple" id="vcc-apple-login-btn">Login with Apple</a>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="col-sm-12 text-center text-danger" style="position: absolute;bottom: 0px;font-size: 15px;" id="socialMsgError">
                        </div> -->
                            <div class="col-sm-12">
                                <div class="error-msg" id="socialMsgError" style="display: none"></div>
                                <p style="font-size: 12px;">
                                    By signing up, you agree to our <a href="https://fluvid.com/terms"
                                        target="_blank">Terms</a> and <a href="https://fluvid.com/privacy"
                                        target="_blank">Privacy Policy</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="setup-section" id="vcc-step-2">
                        <ul>
                            <li>Step 1.<br>Sign up with Google/Facebook/Microsoft</li>
                            <li class="active">Step 2.<br>Set Permission</li>
                        </ul>
                        <div class="row text-left">
                            <div class="col-sm-12">
                                <div style="padding:30px">
                                    <div class="text-center">
                                        <img src="images/cam-icon.png">
                                        <h2>Set Permission</h2>
                                    </div>
                                    <p>
                                        <b>
                                            To unlock all features, please enable the following permissions:
                                        </b>
                                    </p>
                                    <br>
                                    <p><input class="kchk1" name="vcc-cam-access" type="checkbox"
                                            checked><label>&nbsp;</label> Use your Camera</p>
                                    <p><input class="kchk1" name="vcc-mic-access" type="checkbox"
                                            checked><label>&nbsp;</label> Use your Microphone</p>
                                    <div class="text-center">
                                        <br>
                                        <a href="#" id="vcc-get-permission" class="next-btn">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setup-section" style="height:420px; padding:210px 0; display: none;" id="vcc-loader">
                    <div class="fl-loading-bar-spinner fl-spinner">
                        <div class="fl-spinner-icon"></div>
                    </div>
                </div>
                <div class="col-sm-2 text-center"></div>
            </div>
        </div>
    </section>
    <div class="modal" id="exampleModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <img data-dismiss="modal" src="./images/close.png" id="vcc-modal-close" class="modal-close">
                <div class="modal-body">
                    <img src="#" id="vcc-modal-gif">
                </div>
            </div>
        </div>
    </div>
    <div id="fde-2flogin-frame" style="z-index: 99999999999999999;position: fixed;top: 5%;left:30%;">

        <script src="../js/helper.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/modules/onboard.js"></script>
</body>

</html>